html {
  box-sizing: border-box;
}
h1,
h2 {
  margin: 0px;
}
ul {
  margin: 0px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  text-align: center;
  margin: 0px;
  padding: 40px;

  background-image: url('./images/map-black.jpg');
  background-size: cover;
  color: white;
}

.title {
  text-align: center;
  margin-top: 0px;
  margin-bottom: 60px;

  font-family: 'Asset', sans-serif;
  font-weight: 400;
  font-size: 40px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

/* Input CSS */
.input-search {
  margin-bottom: 60px;
  padding-left: 70px;
  padding-right: 30px;

  height: 35px;

  border-radius: 15px;
  border: transparent;

  font-size: 20px;
}

/* Card CSS */
.card-container {
  text-align: left;
  align-items: center;
}

.card-body {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-list {
  margin-right: 25px;
}

.card-title {
  text-align: center;
  margin-bottom: 35px;

  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.card-text {
  font-weight: 700;
  font-size: 22px;
}

.item {
  font-weight: 700;
  font-size: 25px;
}
